.header {
    display: flex;
    align-items: center;

}

.header_left {
    align-items: left;
}

.header_search {
    flex: 1;
}

.header_right1,
.header_right2 {
    margin-right: 16px;
}

.navigation {
    position: sticky;
    top: 0;
    background-color: #f8fafc;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: left;
    padding-left: 16px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.3);
    font-size: 25px;
}

.loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.loginForm > input {
    border: 1px solid black;
    width: 250px;
}

.loginForm > .registryAndPwUpdate {
    margin-top: 8px;
    flex-direction: row;
}